<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Recipe Generator</title>
    <style>
        body {
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            word-wrap: normal;
        }
    </style>
</head>
<body>
    <form action="/" method="post">
        <label for="">Enter your recipe's idea:</label>
        <input type="text" name="prompt" id="prompt">
        <br>
        <button type="submit" value="Submit">Generate</button>
    </form>
    {% if recipe %}
    <br>
    <div>
    {{ recipe | safe }}
    </div>
    {% endif %}
</body>
</html>
